<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Volcanic Explosivity Index (VEI) - An Interactive Infographic</title>
</head>
<body>
    <div class="mx-auto mt-5 d-block col-sm-12 col-md-6 col-md-offset-3 col-lg-8 col-offset-2">
        <div class="row">
            <h1 class="display-8">Volcanic Explosivity Index</h1>
            <p class="mt-2 col-sm-12 mx-auto">Volcanic Explosivity Index (VEI) is a numeric scale that measures the relative explosivity of historic eruptions. Volume of products, eruption cloud height, and qualitative observations (using terms ranging from "gentle" to "mega-colossal") are used to determine the explosivity value.</p>
        </div>
    </div>

    
    <div class="displayArea cl-sm-12 col-lg-12 mx-auto d-flex">
        <h2>Plume Height</h2>
    </div>

    <div class="scale col-md-12 col-lg-12 mx-auto">
           
            <ul class="ml-auto">
                <hr>
                <li>&gt;25KM</li>
                <hr>
                <li>15KM</li>
                <hr>
                <li>5KM</li>
                <hr>
                <li>1KM</li>
                <hr>
                <li>&lt;100M</li>
            </ul>
</div>

    <section id="section1" class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="info-wrapper col-sm-12 col-md-12 col-lg-12">
                <img src="" alt="VEI">
                <h5 class="classification"></h5>
                <h6 class="volcano">VOLCANO:</h6>
                <h6 class="tephra">TEPHRA:</h6>
                <h6 class="howOften">HOW OFTEN:</h6>
                <h6 class="deathToll">Death Toll:</h6>
                <h6 class="otherDamages">OTHER DAMAGES:</h6>
            </div>
        </div>  <!-- img tag, set its src using the object -->
    </section>

    <footer class="sources col-sm-12 col-md-12 col-lg-12">
        <div class="row">
        <span>Sources from:</span>
        <a href="https://en.m.wikipedia.org/wiki/List_of_volcanic_eruptions_by_death_toll"><img src="/images/wiki_logo.png" width="35" alt="WikiPedia"></a>
        <a href="http://volcano.oregonstate.edu/how-big-are-eruptions"><img src="/images/osu_logo.png" width="25" alt="OSU"></a>
        <a href="https://volcanoes.usgs.gov/vsc/glossary/vei.html"><img src="/images/usgs_logo.png" width="35" alt="USGS"></a>
        <a href="https://www.nytimes.com/2019/08/21/opinion/supervolcano-yellowstone.html"><img src="/images/nyt_logo.png" width="70" alt="New York Times"></a>
    </div>
    </footer>
   


</body>
<script type="module" src="/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>